/**
*
* Name:     iranyekan Font
* Version:    1.0
* Author:     Moslem Ebrahimi (moslemebrahimi.com)
* Created on:   Dec 20, 2016
* Updated on:   Dec 20, 2016
* Website:    http://fontiran.com
* Copyright:    Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('./iranyekanwebbold_fanum.eot');
    src: url('./iranyekanwebbold_fanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./iranyekanwebbold_fanum.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./iranyekanwebbold_fanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./iranyekanwebbold_fanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('./iranyekanweblight_fanum.eot');
    src: url('./iranyekanweblight_fanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./iranyekanweblight_fanum.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./iranyekanweblight_fanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./iranyekanweblight_fanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('./iranyekanwebregular_fanum.eot');
    src: url('./iranyekanwebregular_fanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./iranyekanwebregular_fanum.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./iranyekanwebregular_fanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./iranyekanwebregular_fanum.ttf') format('truetype');
}


/* Latin fonts (Roboto) */

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url('./robotobold.eot');
    src: url('./robotobold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./robotobold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./robotobold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./robotobold.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url('./robotolight.eot');
    src: url('./robotolight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./robotolight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./robotolight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./robotolight.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url('./robotoregular.eot');
    src: url('./robotoregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./robotoregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./robotoregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./robotoregular.ttf') format('truetype');
}
